.link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.link svg {
    transform: rotate(-45deg);
    font-size: 14px;
}

.link:hover svg {
    transform: rotate(0deg);
}