.wrapper {
    background-image: url(../../../assets/images/image106.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 72px;
}

.container {
    /* background-color: red; */
    max-width: 1200px;
    padding: 5px 10px;
    margin: 0 auto;
    /* height: 560px; */
    /* z-index: 5; */
    display: flex;
    align-items: flex-end;
    padding-top: 178px;

}

.heroContainer {
    display: flex;
    width: 600px;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.header h1 {
font-size: clamp(1.875rem, 0.8058rem + 4.7520vw, 3.063rem);
font-weight: 700;
line-height: 160%;
}

.header h2 {
    font-size: clamp(1rem, -0.2942rem + 5.7520vw, 2.438rem);
    font-weight: 400;
    line-height: 160%;
}

.tagline {
    font-size: clamp(0.8125rem, 0.83333333333333333333333333333333vw + 0.625rem, 1.25rem);
}


@media screen and (max-width: 768px) {
    .container {
        padding-top: 110px;
    }
}