.OurPortfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.head {
  text-align: center;
  font-size: clamp(3.125rem, 2.3375rem + 3.5000vw, 4rem);
  color: var(--primary-color);
  font-weight: 300;
}

.head > span {
  font-weight: 600;
}
