.middle, .corevalue {
    background: url('../../assets/images/vector.svg');
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: right top;
}

.projects {
    background-image: url('../../assets/images/vectorCopy.svg');
    padding: 50px 0;
    background-repeat: no-repeat;
}

.corevalue {
    background: url('../../assets/images/vector.svg');
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: right 250px;
    margin: 48px 0;
}
