.banner {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 25px 54px;
  border-radius: 5px;
  border-top: 1px solid #2d46be;
  border-right: 4px solid #2d46be;
  border-bottom: 4px solid #2d46be;
  border-left: 1px solid #2d46be;
  background: #fff;
  box-shadow: -40px 28px 40px 0px rgba(0, 0, 0, 0.05);
}

.left {
  display: flex;
  width: 420px;
  flex-shrink: 0;
}

.left p {
  font-size: clamp(0.813rem, 0.4916rem + 1.4286vw, 1.563rem);
  font-weight: 400;
}


@media screen and (max-width: 760px) {
  .banner {
    flex-wrap: wrap;
    padding: 10px 10px;
    justify-content: center;
  }
  .left {
    flex-shrink: 1;
    width: 100%;
    justify-content: center;

  }
}
