header {
    position: fixed;
    width: 100%;
    z-index: 5;
    top: -120px;
    transition: all 0.5s ease-in-out;
}

.active {
    top: 2%;
}

.top {
    top: 0;
}

.nav {
    display: flex;
    background-color: #ffff;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 4px 4px 54px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}