header {
    position: fixed;
    width: 100%;
}

.nav {
    display: flex;
    background-color: #ffff;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 5px 20px;
    box-shadow: 4px 4px 54px 0px rgba(0, 0, 0, 0.05);
}