:root {
  --primary-color: #2D3C52;
  --secodry-color: #555;
  --primary-button-color: #2D46BE;
  --secondry-button-color: #FE9000;
  --primary-header-color: #414559;
  --linear-gradient: linear-gradient(to left, #FFB147, #FF6C63, #B86ADF);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Slab';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFBFB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 100px;

}
